footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4.4375rem;
  padding-bottom: 5.4375rem;
  background-color: #3a3e64;
}
@media all and (max-width: 550px) {
  footer .footer_contacts {
    padding-top: 2.4375rem;
    padding-bottom: 2.4375rem;
  }
}
footer .footer_contacts .container .footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media all and (max-width: 550px) {
  footer .footer_contacts .container .footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}
footer .footer_contacts .container .footer__row .item-location {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media all and (max-width: 550px) {
  footer .footer_contacts .container .footer__row .item-location {
    width: 100%;
  }
}
footer .footer_contacts .container .footer__row .item-location .title {
  height: 0.625rem;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}
@media all and (max-width: 550px) {
  footer .footer_contacts .container .footer__row .item-location .title {
    width: 100%;
    margin-bottom: 1rem;
  }
}
footer .footer_contacts .container .footer__row .item-location .location__description {
  opacity: 0.5;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.40625rem;
  text-align: center;
}
@media all and (max-width: 550px) {
  footer .footer_contacts .container .footer__row .item-location .location__description {
    width: 100%;
    margin-bottom: 2rem;
  }
}
footer .footer_contacts .container .footer__row .item-social {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer_contacts .container .footer__row .item-social .social__title {
  height: 0.625rem;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}
@media all and (max-width: 550px) {
  footer .footer_contacts .container .footer__row .item-social .social__title {
    width: 100%;
    margin-bottom: 1rem;
  }
}
@media all and (max-width: 320px) {
  footer .footer_contacts .container .footer__row .item-social .social__title {
    width: 100%;
    margin-bottom: 1rem;
  }
}
footer .footer_contacts .container .footer__row .item-social .social__icon {
  display: block;
}
footer .footer_contacts .container .footer__row .item-social .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
@media screen and (max-width: 552px) {
  footer .footer_contacts .container .footer__row .item-social .links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
footer .footer_contacts .container .footer__row .item-social .social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 41px;
}
footer .footer_contacts .container .footer__row .item-social .social-link .fa-linkedin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 15px;
  color: #a4b8df;
}
@media screen and (max-width: 552px) {
  footer .footer_contacts .container .footer__row .item-social .social-link .fa-linkedin {
    margin: 15px 5px;
  }
}
footer .footer_contacts .container .footer__row .item-social .social-link .fa-twitter-square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 15px;
  color: #a4b8df;
}
@media screen and (max-width: 552px) {
  footer .footer_contacts .container .footer__row .item-social .social-link .fa-twitter-square {
    margin: 15px 5px;
  }
}
@media screen and (max-width: 552px) {
  footer .footer_contacts .container .footer__row .item-social .social-link .fa-twitter-square {
    margin: 15px 5px;
  }
}
footer .footer_contacts .container .footer__row .item-social .social-link .fa-facebook-square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 15px;
  color: #a4b8df;
}
@media screen and (max-width: 552px) {
  footer .footer_contacts .container .footer__row .item-social .social-link .fa-facebook-square {
    margin: 15px 5px;
  }
}
footer .footer_contacts .container .footer__row .item-social .social-link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin-bottom: 2rem;
}
footer .footer_contacts .container .item-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media all and (max-width: 550px) {
  footer .footer_contacts .container .item-about {
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
footer .footer_contacts .container .item-about .title {
  height: 0.625rem;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}
@media all and (max-width: 550px) {
  footer .footer_contacts .container .item-about .title {
    width: 100%;
    margin-bottom: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
footer .footer_contacts .container .item-about .about__description {
  opacity: 0.5;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.40625rem;
  text-align: center;
}
@media all and (max-width: 553px) {
  footer .footer_contacts .container .item-about .about__description {
    width: 80%;
  }
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #313454;
  width: 100%;
}
.footer__copyright .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.8125rem;
  padding-bottom: 1.8125rem;
}
.footer__copyright .footer__container .footer-copyright__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 3.75rem;
  font-weight: 400;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #808080;
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.40625rem;
}
.footer__copyright .footer__container .footer-copyright__text .kamal {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.far {
  font-size: 1rem;
  color: red;
}