@charset "UTF-8";
html {
  font-size: 16px;
}
@media all and (max-width: 1200px) {
  html {
    font-size: 17px;
  }
}
@media all and (max-width: 992px) {
  html {
    font-size: 15px;
  }
}
@media all and (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  /* CONTAINER ДЛЯ РЕЗИНОВОЙ ВЕРСТКИ width: 1170px */
  /* width: 1170px; */
  margin: 0 auto;
  padding: 0 1rem;
  /*КОНТЕЙНЕР ПЕРЕКРЫВАЕТ МАСКУ*/
  position: relative;
  z-index: 3;
  /*КОНТЕЙНЕР ПЕРЕКРЫВАЕТ МАСКУ*/
}
@media all and (max-width: 992px) {
  .container .container {
    max-width: 750px;
  }
}
@media all and (max-width: 767px) {
  .container .container {
    max-width: 90%;
  }
}

section {
  width: 100%;
}

.description {
  color: #6c7279;
  font-family: Raleway;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.3125rem;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
@media all and (max-width: 767px) {
  .description {
    font-size: 1rem;
  }
}
@media all and (max-width: 491px) {
  .description {
    text-align: justify;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fullscreen-header {
  background-image: url(/img/background.png);
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.fullscreen-header .header-container {
  width: 100%;
}

.fullscreen-header:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  /* УКАЗЫВАЕМ 100%, КАК БЫ ПОВТОРЯЯ ОСНОВНОЙ СЛОЙ*/
  height: 100%;
  /* УКАЗЫВАЕМ 100%, КАК БЫ ПОВТОРЯЯ ОСНОВНОЙ СЛОЙ*/
  background-color: rgba(43, 46, 74, 0.95);
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 95%;
}

.header-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header-column .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  padding-top: 2.375rem;
  padding-bottom: 2.375rem;
  border-bottom: 1px solid #666666;
}
@media all and (max-width: 767px) {
  .header-column .header-nav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
.header-column .header-nav .header-nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  height: auto;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  z-index: 4;
}
.header-column .header-nav .header-nav__logo .logo {
  max-height: auto;
  max-width: 11.8125rem;
}
@media all and (max-width: 1200px) {
  .header-column .header-nav .header-nav__logo .logo {
    max-width: 11.8125rem;
  }
}
@media all and (max-width: 992px) {
  .header-column .header-nav .header-nav__logo .logo {
    max-width: 10rem;
  }
}
@media all and (max-width: 767px) {
  .header-column .header-nav .header-nav__logo .logo {
    max-width: 8rem;
  }
}
.header-column .header-nav .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.header-column .header-nav .header-menu .menu-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: 6;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-column .header-nav .header-menu .menu-row .menu-row__item {
  font-family: "Raleway", sans-serif;
  font-size: 0.8125rem;
  font-weight: 700;
  z-index: 6;
  opacity: 0.75;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}
.header-column .header-nav .header-menu .menu-row .menu-row__item:hover {
  text-decoration: underline;
  opacity: 1;
}
@media all and (max-width: 650px) {
  .header-column .header-nav .header-menu .menu-row .menu-row__item {
    padding: 0.5rem 0.5rem;
  }
}
@media all and (max-width: 992px) {
  .header-column .header-nav .header-menu .menu-row .menu-row__item {
    padding: 0.5rem 0.5rem;
  }
}
.header-column .header-nav .header-menu .menu-row .menu-row__item a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: normal;
  line-height: normal;
  opacity: 0.75;
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header-column .header-nav .header-menu .menu-row .menu-row__item a:hover {
  color: #e84545;
}

.header-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 9.875rem 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media all and (max-width: 1200px) {
  .header-article {
    padding: 9.875rem 0;
  }
}
@media all and (max-width: 992px) {
  .header-article {
    padding: 8rem 0;
  }
}
@media all and (max-width: 767px) {
  .header-article {
    padding: 6rem 0;
  }
}
.header-article h1 {
  max-width: 54.4rem;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 4.0625rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 4.4375rem;
  text-align: center;
  text-transform: uppercase;
  height: auto;
  margin-bottom: 2.5625rem;
}
@media all and (max-width: 1200px) {
  .header-article h1 {
    max-width: 54.4rem;
  }
}
@media all and (max-width: 992px) {
  .header-article h1 {
    max-width: 45rem;
  }
}
@media all and (max-width: 767px) {
  .header-article h1 {
    max-width: 35rem;
  }
}

.header__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 57rem;
  height: auto;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 2.0625rem;
  text-align: center;
  /* Text style for "L, orem ip" */
  font-style: normal;
  letter-spacing: normal;
  margin-bottom: 4.8125rem;
}

.header-article__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 1.125rem 3.125rem;
  background-color: #e84545;
  color: #ffffff;
  font-family: "Raleway - Semi Bold", sans-serif;
  font-size: 0.8125rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.3125rem;
  text-align: center;
  text-transform: uppercase;
  line-height: normal;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  cursor: pointer;
}
@media all and (max-width: 767px) {
  .header-article__btn {
    display: block;
    width: 100%;
  }
}
.header-article__btn:hover {
  -webkit-box-shadow: -0.25rem 0 0.12rem -0.25rem black;
          box-shadow: -0.25rem 0 0.12rem -0.25rem black;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  background-color: rgba(255, 255, 255, 0.95);
  font-weight: bold;
  color: #e84545;
}

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 7.5625rem;
  padding-bottom: 3.125rem;
  margin-left: -1rem;
  margin-right: -1rem;
}
@media all and (max-width: 1170px) {
  .features-block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .features-block .features-block:nth-child(n+3) {
    display: none;
  }
}
@media all and (max-width: 922px) {
  .features-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .features-block .features-block:nth-child(n+3) {
    display: none;
  }
}
@media all and (max-width: 767px) {
  .features-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .features-block .features-block:nth-child(n+3) {
    display: none;
  }
}
.features-block .features-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: auto;
  max-width: 18.5rem;
  margin: 0 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 4.625rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media all and (max-width: 491px) {
  .features-block .features-block__item {
    text-align: justify;
    width: 100%;
    max-width: 70%;
  }
}
.features-block .features-block__item .logo {
  height: 3.75rem;
  width: auto;
  margin-bottom: 2.125rem;
}
.features-block .features-block__item .features-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.features-block .features-block__item .features-text .features__title {
  text-align: center;
  margin-bottom: 1.5625rem;
  height: auto;
  text-transform: uppercase;
}
.features-block .features-block__item .features-text .features__description {
  text-align: center;
}

@media all and (max-width: 922px) {
  .features-block__item:nth-child(n+5) {
    display: none;
  }
}
@media all and (max-width: 737px) {
  .features-block__item:nth-child(n+5) {
    display: none;
  }
}
@media all and (max-width: 500px) {
  .features-block__item:nth-child(n+5) {
    display: none;
  }
}
.fullscreen-works-block {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}
.fullscreen-works-block .works-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}
@media all and (max-width: 968px) {
  .fullscreen-works-block .works-block .work-item:nth-child(n+7) {
    display: none;
  }
}
@media all and (max-width: 767px) {
  .fullscreen-works-block .works-block .work-item:nth-child(n+7) {
    display: none;
  }
}
@media all and (max-width: 400px) {
  .fullscreen-works-block .works-block .work-item:nth-child(n+5) {
    display: none;
  }
}
.fullscreen-works-block .works-block .work-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 1px;
  width: 25%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
  min-width: auto;
  height: auto;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.fullscreen-works-block .works-block .work-item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  z-index: 9;
}
@media all and (max-width: 968px) {
  .fullscreen-works-block .works-block .work-item {
    width: 33.3333333%;
  }
}
@media all and (max-width: 767px) {
  .fullscreen-works-block .works-block .work-item {
    width: 50%;
  }
}
.fullscreen-works-block .works-block .img-work {
  width: 100%;
}
.fullscreen-works-block .works-block .img-work:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.work-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(204, 58, 58, 0.85);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.work-content:hover {
  opacity: 1;
}
.work-content .work-title {
  height: 0.6875rem;
  color: #ffffff;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 0.8125rem;
  z-index: 12;
  opacity: 1;
}
.work-content .work-text {
  height: 0.9375;
  color: #ffffff;
  font-family: Raleway;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  /* Text style for "User Inter" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  z-index: 11;
  opacity: 1;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4.4375rem;
  padding-bottom: 5.4375rem;
  background-color: #3a3e64;
}
@media all and (max-width: 550px) {
  footer .footer_contacts {
    padding-top: 2.4375rem;
    padding-bottom: 2.4375rem;
  }
}
footer .footer_contacts .container .footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media all and (max-width: 550px) {
  footer .footer_contacts .container .footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}
footer .footer_contacts .container .footer__row .item-location {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media all and (max-width: 550px) {
  footer .footer_contacts .container .footer__row .item-location {
    width: 100%;
  }
}
footer .footer_contacts .container .footer__row .item-location .title {
  height: 0.625rem;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}
@media all and (max-width: 550px) {
  footer .footer_contacts .container .footer__row .item-location .title {
    width: 100%;
    margin-bottom: 1rem;
  }
}
footer .footer_contacts .container .footer__row .item-location .location__description {
  opacity: 0.5;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.40625rem;
  text-align: center;
}
@media all and (max-width: 550px) {
  footer .footer_contacts .container .footer__row .item-location .location__description {
    width: 100%;
    margin-bottom: 2rem;
  }
}
footer .footer_contacts .container .footer__row .item-social {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer_contacts .container .footer__row .item-social .social__title {
  height: 0.625rem;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}
@media all and (max-width: 550px) {
  footer .footer_contacts .container .footer__row .item-social .social__title {
    width: 100%;
    margin-bottom: 1rem;
  }
}
@media all and (max-width: 320px) {
  footer .footer_contacts .container .footer__row .item-social .social__title {
    width: 100%;
    margin-bottom: 1rem;
  }
}
footer .footer_contacts .container .footer__row .item-social .social__icon {
  display: block;
}
footer .footer_contacts .container .footer__row .item-social .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
@media screen and (max-width: 552px) {
  footer .footer_contacts .container .footer__row .item-social .links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
footer .footer_contacts .container .footer__row .item-social .social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 41px;
}
footer .footer_contacts .container .footer__row .item-social .social-link .fa-linkedin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 15px;
  color: #a4b8df;
}
@media screen and (max-width: 552px) {
  footer .footer_contacts .container .footer__row .item-social .social-link .fa-linkedin {
    margin: 15px 5px;
  }
}
footer .footer_contacts .container .footer__row .item-social .social-link .fa-twitter-square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 15px;
  color: #a4b8df;
}
@media screen and (max-width: 552px) {
  footer .footer_contacts .container .footer__row .item-social .social-link .fa-twitter-square {
    margin: 15px 5px;
  }
}
@media screen and (max-width: 552px) {
  footer .footer_contacts .container .footer__row .item-social .social-link .fa-twitter-square {
    margin: 15px 5px;
  }
}
footer .footer_contacts .container .footer__row .item-social .social-link .fa-facebook-square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 15px;
  color: #a4b8df;
}
@media screen and (max-width: 552px) {
  footer .footer_contacts .container .footer__row .item-social .social-link .fa-facebook-square {
    margin: 15px 5px;
  }
}
footer .footer_contacts .container .footer__row .item-social .social-link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin-bottom: 2rem;
}
footer .footer_contacts .container .item-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media all and (max-width: 550px) {
  footer .footer_contacts .container .item-about {
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
footer .footer_contacts .container .item-about .title {
  height: 0.625rem;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}
@media all and (max-width: 550px) {
  footer .footer_contacts .container .item-about .title {
    width: 100%;
    margin-bottom: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
footer .footer_contacts .container .item-about .about__description {
  opacity: 0.5;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.40625rem;
  text-align: center;
}
@media all and (max-width: 553px) {
  footer .footer_contacts .container .item-about .about__description {
    width: 80%;
  }
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #313454;
  width: 100%;
}
.footer__copyright .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.8125rem;
  padding-bottom: 1.8125rem;
}
.footer__copyright .footer__container .footer-copyright__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 3.75rem;
  font-weight: 400;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #808080;
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.40625rem;
}
.footer__copyright .footer__container .footer-copyright__text .kamal {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.far {
  font-size: 1rem;
  color: red;
}

.download-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 6.25rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.download-block .donload__title {
  font-family: "Raleway-Light, AdobeInvisFont, MyriadPro-Regular, serif";
  opacity: 1;
  color: #2d3033;
  font-size: 1.75rem;
  text-align: "center";
  margin-bottom: 1rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
}
@media all and (max-width: 767px) {
  .download-block .donload__title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
.download-block .download__subtitle {
  font-family: "Raleway-Light, AdobeInvisFont, MyriadPro-Regular, serif";
  opacity: 1;
  color: #2d3033;
  font-size: 0.8125rem;
  text-align: "center";
  margin-bottom: 1rem;
  font-weight: 700;
  margin-bottom: 2.4375rem;
  font-style: normal;
  letter-spacing: normal;
}
.download-block .download__btn {
  display: inline-block;
  padding: 1.125rem 3.125rem;
  background-color: #e84545;
  color: #ffffff;
  font-family: "Raleway - Semi Bold";
  font-size: 0.8125rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.3125rem;
  text-align: center;
  text-transform: uppercase;
  line-height: normal;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
@media all and (max-width: 767px) {
  .download-block .download__btn {
    display: block;
    width: 100%;
  }
}
.download-block .download__btn:hover {
  -webkit-box-shadow: -0.25rem 0 0.12rem -0.25rem black;
          box-shadow: -0.25rem 0 0.12rem -0.25rem black;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  background-color: #ffffff;
  color: #e84545;
  font-weight: 900;
}

.managers-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6.25rem 0;
  margin: 0 -1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  top: 0;
  left: 0;
}
@media all and (max-width: 1170px) {
  .managers-row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media all and (max-width: 571px) {
  .managers-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.manager__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 1rem;
}
@media all and (max-width: 1170px) {
  .manager__card {
    margin-bottom: 4rem;
    border-bottom: 2px solid rebeccapurple;
  }
}
@media all and (max-width: 1000px) {
  .manager__card {
    margin: 5rem 2rem;
    margin-bottom: 5rem;
    width: 250px;
  }
}

.manager__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.875rem;
  width: inherit;
}
.manager__photo img {
  width: 250px;
}

.manager__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.manager-info__title {
  color: #2d3033;
  font-size: 1.375rem;
  font-family: "Raleway", sans-serif;
  margin-bottom: 0.6875rem;
}

.manager-info__subtitle {
  margin-bottom: 1.875rem;
  font-family: "Raleway", sans-serif;
  color: #e84545;
  font-size: 0.8125rem;
  text-transform: uppercase;
}

.manager-info__text {
  color: #6c7279;
  -ms-flex-negative: inherit;
      flex-shrink: inherit;
  text-align: justify;
  font-size: 0.875rem;
  font-family: "Raleway", sans-serif;
  margin-bottom: 1.25rem;
}

.manager__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.manager__social .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.manager__social .links .social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 41px;
}
.manager__social .links .social-link .fa-linkedin {
  color: #1e499b;
}
.manager__social .links .social-link .fa-twitter-square {
  color: #1e7aa5;
}
.manager__social .links .social-link .fa-facebook-square {
  color: #3a47fa;
}
.manager__social .links .social-link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}