.works-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media all and (max-width: 968px) {
  .works-block .work-item:nth-child(n+7) {
    display: none;
  }
}
@media all and (max-width: 767px) {
  .works-block .work-item:nth-child(n+7) {
    display: none;
  }
}
@media all and (max-width: 400px) {
  .works-block .work-item:nth-child(n+5) {
    display: none;
  }
}
.works-block .work-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 1px;
  width: 25%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
  min-width: auto;
  height: auto;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.works-block .work-item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  z-index: 9;
}
@media all and (max-width: 968px) {
  .works-block .work-item {
    width: 33.3333333%;
  }
}
@media all and (max-width: 767px) {
  .works-block .work-item {
    width: 50%;
  }
}
.works-block .img-work {
  width: 100%;
}
.works-block .img-work:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.work-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(204, 58, 58, 0.85);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.work-content:hover {
  opacity: 1;
}
.work-content .work-title {
  height: 0.6875rem;
  color: #ffffff;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 0.8125rem;
  z-index: 12;
  opacity: 1;
}
.work-content .work-text {
  height: 0.9375;
  color: #ffffff;
  font-family: Raleway;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  /* Text style for "User Inter" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  z-index: 11;
  opacity: 1;
}