.download-block {
  display: flex;
  flex-direction: column;
  padding: 6.25rem 0;
  justify-content: center;
  align-items: center;

  .donload__title {
    font-family: "Raleway-Light, AdobeInvisFont, MyriadPro-Regular, serif";
    opacity: 1;
    color: #2d3033;
    font-size: 1.75rem;
    text-align: "center";
    margin-bottom: 1rem;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
  }
  .download__subtitle {
    font-family: "Raleway-Light, AdobeInvisFont, MyriadPro-Regular, serif";
    opacity: 1;
    color: #2d3033;
    font-size: 0.8125rem;
    text-align: "center";
    margin-bottom: 1rem;
    font-weight: 700;
    margin-bottom: 2.4375rem;
    font-style: normal;
    letter-spacing: normal;
  }
  .download__btn {
    display: inline-block;
    padding: 1.125rem 3.125rem;
    background-color: #e84545;
    color: #ffffff;
    font-family: "Raleway - Semi Bold";
    font-size: 0.8125rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.3125rem;
    text-align: center;
    text-transform: uppercase;
    line-height: normal;
    transition-duration: 0.3s;
    cursor: pointer;
    @media all and (max-width: 767px) {
      display: block;
      width: 100%;
    }
    &:hover {
      box-shadow: -0.25rem 0 0.12rem -0.25rem black;
      transform: scale(1.01);
      opacity: 60%;
      border: 0.25rem solid #e06161;
      mask: rgba(43, 46, 74, 0.95);
    }
  }
}
