.features {
}
.container {
}
.features__container {
}
.features-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  .features-block__item {
    display: flex;
    max-height: 11.625rem;
    max-width: 18.5rem;
    width: 100%;
    border: 1px solid black;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    .features-logo {
      display: flex;
      max-width: 100%;
      max-height: 100%;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
    .features-text {
      width: 296px;
      height: 56px;
      color: #6c7279;
      font-family: Raleway;
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 21px;
      text-align: center;
      /* Text style for "Cras justo" */
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      .features__title {
        text-align: center;
        margin-bottom: 4.1666666667rem;
        height: auto;
      }
      .features__description {
        width: 296px;
        height: 56px;
        color: #6c7279;
        font-family: Raleway;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 21px;
        text-align: center;
               font-style: normal;
        letter-spacing: normal;
        line-height: normal;
      }
    }
  }
}
