// СОЗДАНИЕ МИКСИНА/////////////////////
@mixin title-footer {
  height: 0.625rem;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}
@mixin width-item-30 {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: center;
}
@mixin description-footer {
  opacity: 0.5;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.40625rem;
  text-align: center;
}
///////////////////////////////////////////

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // ВЕРХНИЙ FOOTER
  .footer_contacts {
    display: flex;
    padding-top: 4.4375rem;
    padding-bottom: 5.4375rem;
    background-color: #3a3e64;
    @media all and (max-width: 550px) {
      padding-top: 2.4375rem;
      padding-bottom: 2.4375rem;
    }
    // СЕКЦИЯ LOCATION
    .container {
      .footer__row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
        align-items: baseline;
        @media all and (max-width: 550px) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          width: 100%;
        }
        // СЕКЦИЯ ABOUT
        .item-location {
          @include width-item-30;
          @media all and (max-width: 550px) {
            width: 100%;
          }
          .title {
            @include title-footer;
            @media all and (max-width: 550px) {
              width: 100%;
              margin-bottom: 1rem;
            }
          }
          .location__description {
            @include description-footer;
            @media all and (max-width: 550px) {
              width: 100%;
              margin-bottom: 2rem;
            }
          }
        }
        // СЕКЦИЯ SOCIAL
        .item-social {
          @include width-item-30;

          .social__title {
            @include title-footer;
            @media all and (max-width: 550px) {
              width: 100%;
              margin-bottom: 1rem;
            }
          }

          .social__icon {
          }
          .social__icon-row {
            margin-bottom: 2rem;
          }
        }

        // СЕКЦИЯ ABOUT
        .item-about {
          @include width-item-30;
          @media all and (max-width: 550px) {
            width: 100%;
          }
          .title {
            @include title-footer;
            @media all and (max-width: 550px) {
              width: 100%;
              margin-bottom: 1rem;
            }
          }
          .about__description {
            @include description-footer;

            @media all and (max-width: 550px) {
              width: 80%;
            }
          }
        }
      }
    }
  }

  // НИЖНИЙ FOOTER
  .footer__copyright {
    display: flex;
    background-color: #313454;
    width: 100%;

    .footer__container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-top: 1.8125rem;
      padding-bottom: 1.8125rem;

      .footer-copyright__text {
        display: flex;
        flex-direction: column;
        font-size: 3.75rem;
        font-weight: 400;
        justify-content: center;
        align-items: center;
        color: #808080;
        font-family: "Raleway", sans-serif;
        font-size: 0.875rem;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 1.40625rem;
        .kamal {
          color: #ffffff;
          font-family: "Raleway", sans-serif;
          font-style: normal;
          letter-spacing: normal;
          line-height: normal;
        }
      }
    }
  }
}
