// СОЗДАНИЕ МИКСИНА/////////////////////
@mixin title-footer {
  height: 0.625rem;
  color: #ffffff;
  font-family: Raleway;
  font-size: 0.875rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}
@mixin width-item-30 {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: center;
}
@mixin description-footer {
  opacity: 0.5;
  color: #ffffff;
  font-family: Raleway;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.40625rem;
  text-align: center;
}
///////////////////////////////////////////

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // ВЕРХНИЙ FOOTER
  .footer_contacts {
    display: flex;
    padding-top: 4.4375rem;
    padding-bottom: 5.4375rem;

    background-color: #3a3e64;

    // СЕКЦИЯ LOCATION
    .container {
      .footer__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        align-items: baseline;

        .item-location {
          @include width-item-30;
          .title {
            @include title-footer;
          }
          .location__description {
            @include description-footer;
          }
        }
        // СЕКЦИЯ SOCIAL
        .item-social {
          @include width-item-30;
        }
        .social__title {
          @include title-footer;
        }

        .social__icon {
        }
        .social__icon-row {
        }
      }
      .item-about {
        @include width-item-30;
        .title {
          @include title-footer;
        }
        .about__description {
          @include description-footer;
        }
      }
    }
  }

  // НИЖНИЙ FOOTER
  .footer__copyright {
    display: flex;
    background-color: #313454;
    width: 100%;

    .footer__container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-top: 1.8125rem;
      padding-bottom: 1.8125rem;

      .footer-copyright__text {
        display: flex;
        flex-direction: column;
        font-size: 3.75rem;
        font-weight: 400;
        object-position: center;
        color: #808080;
        font-family: Raleway;
        font-size: 0.875rem;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 1.40625rem;
        .kamal {
          color: #ffffff;
          font-family: Raleway;
          font-style: normal;
          letter-spacing: normal;
          line-height: normal;
        }
      }
    }
  }
}
