.fullscreen-header {
  background-image: url(/img/background.png);
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  .header-container {
    // background-color: rgba(223, 236, 232);
    width: 100%;
  }
}

.fullscreen-header:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%; /* УКАЗЫВАЕМ 100%, КАК БЫ ПОВТОРЯЯ ОСНОВНОЙ СЛОЙ*/
  height: 100%; /* УКАЗЫВАЕМ 100%, КАК БЫ ПОВТОРЯЯ ОСНОВНОЙ СЛОЙ*/
  background-color: rgba(43, 46, 74, 0.95);
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 95%;
}
.header-column {
  display: flex;
  flex-direction: column;

  .header-nav {
    display: flex;
    max-width: 100%;
    flex-direction: row;
    position: relative;
    padding-top: 2.375rem;
    padding-bottom: 2.375rem;
    border-bottom: 1px solid #666666;
    @media all and (max-width: 767px) {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }

    .header-nav__logo {
      display: flex;
      justify-content: left;
      align-items: center;
      max-width: 100%;
      height: auto;
      flex-basis: 50%;
      z-index: 4;
      .logo {
        max-height: auto;
        max-width: 11.8125rem;
        @media all and (max-width: 1200px) {
          max-width: 11.8125rem;
        }
        @media all and (max-width: 992px) {
          max-width: 10rem;
        }
        @media all and (max-width: 767px) {
          max-width: 8rem;
        }
      }
    }
    .header-menu {
      display: flex;
      flex-basis: 50%;

      .menu-row {
        display: flex;
        width: 100%;
        z-index: 6;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;

        .menu-row__item {
          font-family: "Raleway";
          font-size: 0.8125rem;
          font-weight: 700;
          z-index: 6;
          opacity: 0.75;
          // линейное увеличение opacity для ссылки
          transition: opacity 0.1s linear;
          &:hover {
            text-decoration: underline;
            opacity: 1;
          }
          @media all and (max-width: 650px) {
            padding: 0.5rem 0.5rem;
          }

          @media all and (max-width: 992px) {
            padding: 0.5rem 0.5rem;
          }
          a {
            color: #ffffff;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: normal;
            line-height: normal;
            opacity: 0.75;
            outline: none;
            &:hover {
              color: #e84545;
            }
          }
        }
      }
    }
  }
}
.header-article {
  display: flex;
  padding: 9.875rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media all and (max-width: 1200px) {
    padding: 9.875rem 0;
  }
  @media all and (max-width: 992px) {
    padding: 8rem 0;
  }
  @media all and (max-width: 767px) {
    padding: 6rem 0;
  }
  h1 {
    max-width: 54.4rem;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 4.0625rem;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 4.4375rem;
    text-align: center;
    text-transform: uppercase;
    height: auto;
    margin-bottom: 2.5625rem;
    @media all and (max-width: 1200px) {
      max-width: 54.4rem;
    }
    @media all and (max-width: 992px) {
      max-width: 45rem;
    }
    @media all and (max-width: 767px) {
      max-width: 35rem;
    }
  }
}
.header__subtitle {
  display: flex;
  max-width: 57rem;
  height: auto;
  color: #ffffff;
  font-family: "Raleway";
  font-size: 1.375rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 2.0625rem;
  text-align: center;
  /* Text style for "L, orem ip" */
  font-style: normal;
  letter-spacing: normal;
  margin-bottom: 4.8125rem;
}
.header-article__btn {
  display: inline-flex;
  padding: 1.125rem 3.125rem;
  background-color: #e84545;
  color: #ffffff;
  font-family: "Raleway - Semi Bold";
  font-size: 0.8125rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.3125rem;
  text-align: center;
  text-transform: uppercase;
  line-height: normal;
  transition-duration: 0.3s;
  cursor: pointer;
  @media all and (max-width: 767px) {
    display: block;
    width: 100%;
  }
  &:hover {
    box-shadow: -0.25rem 0 0.12rem -0.25rem black;
    transform: scale(1.01);
    opacity: 60%;
    border: 0.25rem solid #e06161;
    mask: rgba(43, 46, 74, 0.95);
  }
}
