@import "header.scss";
@import "features.scss";
@import "works.scss";

html {
  font-size: 16px;
  height: 100%;
}
body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  max-width: 1170px;
  width: 100%;
  /* CONTAINER ДЛЯ РЕЗИНОВОЙ ВЕРСТКИ width: 1170px */
  /* width: 1170px; */
  margin: 0 auto;
  padding: 0 15px;
  /*КОНТЕЙНЕР ПЕРЕКРЫВАЕТ МАСКУ*/
  position: relative;
  z-index: 3;
  /*КОНТЕЙНЕР ПЕРЕКРЫВАЕТ МАСКУ*/
}
section {
  width: 100%;
}
.description {
  color: #6c7279;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 21px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
