html {
  font-size: 16px;
  @media all and (max-width: 1200px) {
    font-size: 17px;
  }
  @media all and (max-width: 992px) {
    font-size: 15px;
  }
  @media all and (max-width: 767px) {
    font-size: 12px;
  }
}
body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  max-width: 1170px;
  width: 100%;
  /* CONTAINER ДЛЯ РЕЗИНОВОЙ ВЕРСТКИ width: 1170px */
  /* width: 1170px; */
  margin: 0 auto;
  padding: 0 1rem;
  /*КОНТЕЙНЕР ПЕРЕКРЫВАЕТ МАСКУ*/
  position: relative;
  z-index: 3;
  /*КОНТЕЙНЕР ПЕРЕКРЫВАЕТ МАСКУ*/

  @media all and (max-width: 992px) {
    .container {
      max-width: 750px;
    }
  }
  @media all and (max-width: 767px) {
    .container {
      max-width: 90%;
    }
  }
}
section {
  width: 100%;
}
.description {
  color: #6c7279;
  font-family: Raleway;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.3125rem;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  @media all and (max-width: 767px) {
    font-size: 1rem;
  }
  @media all and (max-width: 491px) {
    text-align: justify;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
}
@import "header.scss";
@import "features.scss";
@import "works.scss";
@import "footer.scss";
@import "download.scss";
