.managers-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6.25rem 0;
  margin: 0 -1rem;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: baseline;
  top: 0;
  left: 0;
  @media all and (max-width: 1170px) {
    justify-content: space-around;
  }
  @media all and (max-width: 571px) {
    justify-content: center;
  }
}
.manager__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 1rem;
  @media all and (max-width: 1170px) {
    margin-bottom: 4rem;
    border-bottom: 2px solid rebeccapurple;
  }
  @media all and (max-width: 1000px) {
    margin: 5rem 2rem;
    margin-bottom: 5rem;
    width: 250px;
  }
  // max-width: 15rem;
}
.manager__photo {
  display: flex;
  margin-bottom: 1.875rem;
  width: inherit;
  img {
    width: 250px;
  }
}
.manager__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: fit-content;
}
.manager-info__title {
  color: #2d3033;
  font-size: 1.375rem;
  font-family: "Raleway", sans-serif;
  margin-bottom: 0.6875rem;
}
.manager-info__subtitle {
  margin-bottom: 1.875rem;
  font-family: "Raleway", sans-serif;
  color: #e84545;
  font-size: 0.8125rem;
  text-transform: uppercase;
}
.manager-info__text {
  color: #6c7279;
  // display: none;
  flex-shrink: inherit;
  text-align: justify;
  font-size: 0.875rem;
  font-family: "Raleway", sans-serif;
  margin-bottom: 1.25rem;
}
.manager__social {
  display: flex;
  width: 100%;
  .links {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    .social-link {
      display: flex;
      font-size: 41px;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
//   .fab {
//     display: flex;
//     font-size: 41px;
//     fill: #ffffff;
//     color: #e84545;
//   }
// }
// .facebook {
//   object-fit: cover;
//   object-position: left;
// }
// .twitter {
//   object-fit: cover;
//   object-position: center;
// }
// .linkedin {
//   object-fit: cover;
//   object-position: right;
// }
