.fullscreen-works-block {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;

  .works-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: 0;

    left: 0;

    min-width: 100%;

    .work-item {
      display: flex;
      justify-content: center;
      align-items: center;
      object-fit: cover;

      width: 25%;
      object-position: center;
      object-fit: contain;
      min-width: auto;
      height: auto;
    }
  }
  .img-work {
    width: 100%;
  }
}
